.root {
    -fx-background-image:url('../asset/grass-background.png');
    -fx-background-size: cover;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.player-label {
    -fx-pref-width: 220px;
    -fx-pref-height: 6px;
    -fx-background-color: linear-gradient(to right, #d8824b, #a8581d);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-border-color: #f3c13f;
    -fx-font-size: 16px;
    -fx-padding: 4px;
    -fx-text-alignment: center;
}

.vbox-buttons {
    -fx-pref-width: 100px;
}

.menu-button {
    -fx-font-family: CircularStd, sans-serif;
    -fx-alignment: center;
    -fx-background-color: #f2feff;
    /*-fx-background-color: linear-gradient(to bottom right, #4F58FD, #149BF3);*/
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-padding: 6px 10px;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-font-size: 12px;
    /*-fx-font-weight: bold;*/
    -fx-wrap-text: true;
}

.turn-circle {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 50%;
}

.circle {
    -fx-fill: white;
}

.turn-text {
    -fx-fill: black;
    -fx-font-size: 14px;
}

.menu-button {
    -fx-border-radius: 5px;
    -fx-pref-height: 25px;
    -fx-pref-width: 100px;
    -fx-font-family: 'Roboto';
    -fx-font-size: 14px;
}

.grid-pane {
    -fx-background-color: #f5dc7c;
    -fx-pref-height: 27px;
    -fx-pref-width: 110px;
    -fx-font-family: 'Roboto';
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.deck-container {
    -fx-background-color: #ea7e16;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

.deck-pane {
    -fx-pref-height: 27px;
    -fx-pref-width: 110px;
    -fx-font-family: 'Roboto';
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-color: #f5dc7c;
}