.window {
    -fx-background-image:url('../asset/wood.png');
    -fx-font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.toko-title {
    -fx-padding: 10;
    -fx-background-radius: 100;
    -fx-background-color: #ea7e16;
    -fx-border-radius: 100;
    -fx-border-color: #f5dc7c;
    -fx-border-width: 3px;
}

.toko-text {
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-text-fill: white;
}

.my-product {
    -fx-background-radius: 20;
    -fx-background-color: #ea7e16;
    -fx-border-radius: 20;
    -fx-border-color: #f5dc7c;
    -fx-border-width: 3px;
}

.back-button {
    -fx-padding: 2;
    -fx-background-radius: 36;
    -fx-background-color: linear-gradient(to top, #ffd146, #f0d944, #dbd766, #fbf7bb);
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.1), 10, 0.5, 0, 2);
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-font-size: 12;
    -fx-pref-width: 50;
    -fx-pref-height: 25;
}